
p {
	color:black;
	font-family: sans-serif;
	font-size: 20px;
	
}

h1 {
	font-family: serif;
	float: right;
}

h2 {
	font-size: 30px;
}

#nav a {
	background-color: lightgrey;
	color: black;
	font-size: 30px;
	text-decoration: none;
}

#nav {
	min-width: 200px;
}

